body {
    margin: 0;
    font-family: sans-serif !important;
    font-size: 1em !important;
}

#darkmode {
    background-color: #222222 !important;
    color: #eee !important;
}

#darkmode .bg-light {
    background-color: #333333 !important;
}

#darkmode .bg-white {
    background-color: #444444 !important;
}

#darkmode .menu-item:hover {
    background-color: #495057 !important;
}

.custom-switch:hover {
    cursor: pointer;
}

.custom-control:hover {
    cursor: pointer;
}

.custom-control-label {
    cursor: pointer;
}


/*MENU*/

.menu {
    background-color: #026b97;
    float: left;
    width: 190px;
    height: 100vh;
}


/*logo*/

.menu .logo-area {
    width: 100%;
    height: 76px;
    background-color: #006189;
}

.menu .logo-area #logo {
    height: 100%;
    display: flex;
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    line-height: 76px;
}

.menu .logo-area #logo h2 {
    line-height: 76px;
}

.menu .logo-area #logo .logo-pages {
    width: 76px;
    height: 76px;
    background-size: cover;
    margin-right: 10px;
    background-image: url('../Lib/images/logo2_new.png');
}


/*section-of-menu*/

.menu #menu-content {
    height: calc(100% - 77px);
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #404040;
}


/*các thuộc tính chung của các menu*/

.menu-item {
    display: flex;
    width: 100%;
    height: 40px;
    color: #ffffff;
    text-decoration: none;
}

.menu #menu-content .menu-item:hover {
    background-color: #006189;
    color: #fff;
    text-decoration: unset;
}

.menu #menu-content .menu-item .menu-item-icon {
    width: 40px;
    height: 100%;
    background-image: url('../../content/images/slibarmenu.png');
    background-repeat: no-repeat;
}

.menu #menu-content .menu-item .icon-more {
    width: 40px;
    height: 100%;
    background-repeat: no-repeat;
}

.menu #menu-content .menu-item .menu-item-text {
    line-height: 40px;
}


/*thuộc tính riêng của từng menu*/

.icon-board {
    background-position: 10px 9px;
}

.icon-job {
    background-position: 10px -230px;
}

.icon-profile {
    background-position: 10px -415px;
}

.icon-blog {
    background-position: 14px 11px;
    background-image: url(../../content/images/ic_ocm_logo.png);
}

.icon-company {
    background-image: url(../../content/images/Logo_meInvoice.svg);
    background-position: 10px 6px;
    background-size: 23px;
}

.icon-teacher {
    background-position: 10px -72px;
}

.icon-setting {
    background-position: 10px -311px;
}

.icon-help {
    background-position: 10px -380px;
}

.icon-api {
    background-position: 14px 11px;
    background-image: url('../../content/images/ic_api_20.svg');
}


/*CONTENT*/

.content {
    width: 100%;
    height: 100vh;
    color: #212121;
}

.content .content-body {
    background-color: #808080;
    width: calc(100% - 60px);
    height: calc(100% - 160px);
    background-color: #e5e6eb;
    box-sizing: content-box;
    padding: 30px;
    overflow: auto;
}

.content .content-body .title-body {
    font-size: 2em;
    font-weight: bold;
}

.content .content-body .board {
    height: calc(100% - 30px);
    box-sizing: content-box;
    overflow: auto;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    position: absolute;
    top: 6px;
    left: 15px;
    opacity: 0.8;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 140px;
    max-width: 250px;
    background-color: #006189;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left;
    /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
    margin-left: -190px;
    transform: rotateY(100deg);
    /* Rotate sidebar vertically by 100 degrees. */
}

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -140px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

.navbar {
    padding: 0 !important;
}

.list-unstyled.components a {
    color: #fff;
}

.svg-inline--fa {
    color: #404040;
}

#dismiss {
    position: absolute;
    opacity: 0.8;
}

#content {
    width: 100%;
}

.content-body .card-body .avatar-info-area {
    width: 15em;
    height: 18em;
    background-size: contain !important;
    background-repeat: no-repeat;
}

.btn-primary {
    color: #fff;
    background-color: #026b97 !important;
    border-color: #026b97 !important;
}

#content .content {
    overflow: auto;
}

.topbar .nav-item .nav-link {
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 .75rem;
}

.rounded-circle {
    width: 60px;
    height: 60px;
}

.row2 {
    margin-right: 0px !important;
    margin-left: -0px !important;
}

.container {
    padding: 0px !important;
}

#btnCV {
    left: 13em;
}

.eye {
    position: absolute;
    top: 55%;
    right: 10px;
}

.content-body .alert {
    position: fixed;
    right: 2em;
    top: 6em;
}

.bl_avatar {
    width: 10em;
    height: 10em;
    background-size: cover;
}

.error-text {
    color: red;
    font-style: italic;
    font-size: 0.9em;
}

.alert {
    z-index: 1000;
}